@model TiendaGuau.Models.Client

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Clients" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClientId" />
            <div class="form-group">
                <label asp-for="NameClient" class="control-label"></label>
                <input asp-for="NameClient" class="form-control" />
                <span asp-validation-for="NameClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastnameClient" class="control-label"></label>
                <input asp-for="LastnameClient" class="form-control" />
                <span asp-validation-for="LastnameClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DNIClient" class="control-label"></label>
                <input asp-for="DNIClient" class="form-control" />
                <span asp-validation-for="DNIClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdressClient" class="control-label"></label>
                <input asp-for="AdressClient" class="form-control" />
                <span asp-validation-for="AdressClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <p>0. Activo </p>
                <p>1. Inactivo </p>
                <p>2. Bloqueado </p>
                <select asp-for="status" class="form-control">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                </select>
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
